.inventoryPanel {
    max-width: 645px;
    width: 100%;
    background: #233243;
    height: 757px;
}

.categoryFilterWrapper {
    width: 100%;
    display: flex;
    font-family: Chakra Petch;
    font-weight: 300;
    font-size: 20px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;

}

.categoryFilterWrapper>div {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 17px 33px;
    cursor: pointer;
}

.itemHeader {
    width: 100%;
    align-items: center;
    display: flex;
    padding-top: 29px;
    padding-bottom: 17px;
    font-family: Chakra Petch;
    font-weight: 700;
    font-size: 20px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}

.itemHeader>div:nth-child(1) {
    padding-left: 33px;
}

.itemHeader>div:nth-child(2) {
    padding-left: 93px;
}

.itemHeader>div:nth-child(3) {
    margin-left: auto;
    padding-right: 33px;
}

.categoryFilterWrapper>div.active {
    background: #136DD9;
}

.itemHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inventoryItem {
    display: flex;
    padding: 17px 33px;
    align-items: center;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
}

.itemImage {
    flex-shrink: 0;
    width: 83px;
    height: auto;
    margin-right: 58px;
    image-rendering: pixelated;
}

.inventoryItem:nth-child(odd) {
    background: #1C2938;
}

.inventoryItem:nth-child(even) {
    background: #202F41;
}

.inventoryItem.active,
.inventoryItem:hover {
    background: #136DD9;
}

.itemTextWrapper {
    width: 100%;
}

.itemName {
    font-family: Chakra Petch;
    font-weight: 700;
    font-size: 20px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}

.itemDescription {
    font-family: Chakra Petch;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
}


.itemAmount {
    font-family: Chakra Petch;
    font-weight: 300;
    font-size: 50px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}

.quickInventory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    display: flex;
    align-items: center;
    font-family: Chakra Petch;
    font-size: 20px;
    color: #fff;
    /* gap: 5px; */
}

.quickInventoryItem {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #2D2925;
    overflow: hidden;
    padding: 10px;
    transition: background-color 0.2s, height 0.2s;
}

.quickInventoryItem:hover {
    background: #485e75;
    height: 220px;
}

.quickInventoryItemName {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.quickInventoryItemAmount {
    color: #b0b0b0;
    text-align: center;
}
.quickInventoryItemAmount.payBad{
    color: #ed5648;
}
.quickInventoryItemAmount.payGood{
    color: #00d4ff;
}


.quickInventoryItemImage {
    image-rendering: pixelated;
    flex-shrink: 0;
    height: 100px;
}