.milestone {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Chakra Petch";
    font-size: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    transition: all 3s ease-out;
    opacity: 0;
    width: 50vw;
}

.milestone.issue {
    transition: all 1s ease-out;
}


.milestone h1 {
    font-size: 3em;
}

.milestone.issue h1 {
    font-size: 2em;
}

.milestone * {
    transition: all 3s ease-out;
    letter-spacing: normal;
    opacity: 0;
}

.milestone.issue * {
    transition: all 1s ease-out;
}

.milestone .appear {
    letter-spacing: .1em;
    opacity: 1;
}

.milestone.issue .appear {
    letter-spacing: normal;
}

.milestone.appear {
    opacity: 1;
}

.quest-list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-family: "Chakra Petch";
    font-size: 20px;
    color: white;
    text-align: left;
    max-width: 400px;
}

.quest-list h1 {
    font-size: inherit;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.quest-list p {
    margin-bottom: 5px;
    text-align: left;
}

.quest>p {
    font-weight: bold;
}

.quest .sub-quest {
    margin-left: 10px;
}

.quest .details {
    margin-left: 20px;
    font-weight: 100;
    opacity: .5;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
}

.marker p {
    color: white;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 20px;
    position: absolute;
    width: max-content;
    max-width: 200px;
    transform: translate(-50%, -50%);
}

.marker .arrow {
    position: absolute;
    top: 0px;
    left:0px;
    translate: -50% -50%;
    rotate: 45deg;
    width: 30px;
    height: 30px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}