:root {
    --unera-color: rgb(26, 118, 238);
    --under-panel: #0C68D6;
    --hacking-color: rgb(23, 238, 62);
    --hacking-color-muted: rgba(12, 189, 33, 0.5);
    --bg-color: #1F2730;
    --highlight-color: #3d4955;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: "monogram";
    src: url(public/font/monogram.ttf) format("truetype");
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.uiContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    user-select: none;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.08) 44%, rgba(0, 0, 0, 0.18) 56%, rgba(0, 0, 0, 0.75) 100%);
}

.debugText {
    position: absolute;
    top: 25vh;
    left: 0;
    font-family: "monogram";
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding: 20px;
}


#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
    flex-direction: column;
    min-width: 200px;
}

#tooltip .panel {
    font-family: "Chakra Petch";
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #1F2730;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 20px;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
}

#tooltip .panel h1 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}

#tooltip .panel p {
    margin: 0;
    text-transform: none;
}

#tooltip .panel.columns {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#tooltip .panel.columns .panel {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 150px;
}

#tooltip .panel.title {
    background-color: #0C68D6;
}

#tooltip .panel.highlight {
    background-color: #3d4955;
}

#tooltip .panel.warning {
    background-color: #D6A30C;
}

#tooltip .panel.error {
    background-color: #D63D0C;
}

.stats {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(192, 192, 192);
    font-family: "Chakra Petch";
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px;
    line-height: 24px;
    text-shadow: black 2px 2px 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.progressBar {
    display: flex;
    align-items: center;
    margin: 4px;
    /* height: 28px; */
}

.progressBar .text {
    min-width: 4em;
}

.progressBar .bar {
    background-color: rgba(0, 0, 0, 0.56);
    width: 200px;
    height: 5px;
    margin-left: 5px;
}

.progressBar .fill {
    height: 100%;
    background-color: var(--highlight-color);
    border-right: 2px solid white;
}

.drop-menu {
    width: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    overflow: hidden;
    text-align: left;
}

.drop-menu .header {
    width: 100%;
    padding: .5rem;
    text-align: left;
    background-color: var(--under-panel);
    font-weight: bold;
}

.drop-menu button {
    width: 100%;
    padding: .5rem;
    text-align: left;
}

.drop-menu button+button {
    margin-top: .2rem;
}

button {
    color: inherit;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--highlight-color);
}

.basic {
    background-color: var(--bg-color);
    color: #e9e9e9;
    border-radius: 0.1rem;
    font-family: "Chakra Petch";
    font-size: 16px;
}

.score {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Chakra Petch";
    font-size: 32px;
    margin: 10px;
    color: white;
}

.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Chakra Petch";
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    width: 0px;
    height: 0px;
    padding: 4px;
    transition: color 0.1s ease-in-out, padding 0.1s ease-in-out, background-color 0.1s ease-in-out;
    background-color: transparent;
}

.prompt.highlight {
    padding: 14px;
    color: white;
    background-color: #00000066;
}

.prompt-text {
    color: white;
    font-family: "Chakra Petch";
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 24px;
    width: fit-content;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.1s ease-in-out;
    transform: translate(0, -50%);
    overflow: hidden;
}

.prompt-text.highlight {
    clip-path: inset(0 0 0 0);
    width: fit-content;
}

.talk {
    position: absolute;
    top: -30px;
    left: 0px;
    transition: clip-path 0.3s ease-in-out;
    clip-path: inset(0 50% 0 50%);
    transform: translate(-50%, -100%);
    overflow: hidden;
    display: block;
    /*will-change: width, contents, transform;*/
}

.talk.appear {
    clip-path: inset(0 0 0 0);
}

.talk p {
    text-align: center;
    color: white;
    font-family: "Chakra Petch";
    font-size: 20px;
    width: max-content;
    max-width: 300px;
    text-shadow: black 0px 2px 0px;
    background-color: #0000007b;
    background: radial-gradient(closest-side, #0000009f 0%, #00000000 100%);
    /*background-color: #3d4045;*/
    backdrop-filter: blur(4px);
    padding: 10px;
}

.talk p b {
    color: #ffb908;
    text-wrap: nowrap;
}

.hidden {
    display: none;
}

.appear {
    opacity: 1;
}

.controlPromptContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.controlPrompt {
    max-width: 15em;
    color: rgb(192, 192, 192);
    font-family: "Chakra Petch";
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1px;
}

.controlPrompt .key {
    padding: 2px;
    border: 2px solid rgb(132, 132, 132);
    border-bottom-width: 3px;
    font-weight: bold;
    margin: 2px;
    min-width: 30px;
    text-align: center;
    background-color: #00000066;
}

.controlPrompt .text {
    margin: 5px;
    text-align: right;
    color: rgb(168, 168, 168);
}

.inspectModesContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    color: rgb(192, 192, 192);
    font-family: "Chakra Petch";
    font-size: 16px;
    text-transform: uppercase;
    flex-direction: row;
    transform: translate(-50%, 0);
}

.inspectModeButton {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    transition: background-color 0.1s ease-in-out;
}

.inspectModeButton:hover {
    cursor: pointer;
    background-color: #00000066;
}

.inspectModeButton .text {
    opacity: 0;
    transition: opacity 0.1s ease-in-out, color 0.1s ease-in-out;
}

.inspectModeButton:hover .text {
    opacity: 1;
}

.inspectModeButton .icon {
    height: 30px;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.inspectModeButton:hover .icon {
    opacity: 1;
}

.inspectModeButton.selected {
    background-color: white;
}

.inspectModeButton.selected .icon {
    opacity: 1;
    filter: invert(1);
}

.inspectModeButton.selected .text {
    color: black;
    opacity: 1;
}
